# This is a basic workflow to help you get started with Actions

name: CI Self

# Give the workflow permission to push commits using GITHUB_TOKEN
permissions:
  contents: write

env:
  version: ''

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      value:
        description: 'value'
        required: false
        default: ''

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          # ensure the action can push using the workflow's token
          persist-credentials: true

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Example step that demonstrates using the new input parameter
      - name: Show value input
        run: echo "Input 'value' = '${{ github.event.inputs.value }}'"

      # Runs a PowerShell script to set a value in version.yml  
      - name: Set value
        run: |
          Install-Module powershell-yaml -Force -Scope CurrentUser
          .\setValue.ps1 -FilePath .\.github\workflows\self.yml -Key env.version -Value "${{ github.event.inputs.value }}"
          Get-Content .\.github\workflows\self.yml
        shell: pwsh

      # Commit changes if any
      - name: Commit changes
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

          git add version.yml
          git diff --cached --quiet || git commit -m "[ci] Update version.yml with new value '${{ github.event.inputs.value }}' (triggered by ${{ github.actor }})"
          git status
          git push origin HEAD:${{ github.ref_name }}
      
