jobs:
  build:
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: true
        token: ${{ secrets.RUN_REPO_PAT }}
    - run: echo Hello, world!
      name: Run a one-line script
    - run: echo "Input 'value' = '${{ github.event.inputs.value }}'"
      name: Show value input
    - shell: pwsh
      run: |
        Install-Module powershell-yaml -Force -Scope CurrentUser
        .\setValue.ps1 -FilePath .\.github\workflows\self.yml -Key env.version -Value "${{ github.event.inputs.value }}"
        Get-Content .\.github\workflows\self.yml
      name: Set value
    - run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

        git add .github/workflows/self.yml
        git diff --cached --quiet || git commit -m "[ci] Update self.yml with new value '${{ github.event.inputs.value }}' (triggered by ${{ github.actor }})"
        git status
        git push origin HEAD:${{ github.ref_name }}
      name: Commit changes
    runs-on: ubuntu-latest
env:
  version: test
name: CI Self
permissions:
  contents: write
"on":
  workflow_dispatch:
    inputs:
      value:
        default: ""
        required: false
        description: value

